services:
  app:
    build: .
    env_file:
      - .env
    container_name: teachHelperBack
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    container_name: rabbitmq
    restart: always
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${PIKA_USER}
      RABBITMQ_DEFAULT_PASS: ${PIKA_PASSWORD}
    ports:
      - "${PIKA_PORT}:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia

  redis:
    image: redis:8.4.0-alpine
    container_name: redis_c
    restart: always
    env_file:
      - .env
    environment:
      REDIS_PASSWORD: ${REDIS_PASS}
      REDIS_USER: ${REDIS_USER}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/var/lib/redis/data

  minio:
    image: minio/minio:latest
    container_name: minio_s3
    restart: always
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
      MINIO_API_CORS_ALLOW_ORIGIN: "*" 
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/var/lib/minio/data


volumes:
  pgdata:
  rabbitmq_data:
  redis_data:
  minio_data:

